#ignoring specific folders
fastTgcnBaby/__pycache__/
fastTgcnBaby/experiment/
fastTgcnBaby/pred_global/
fastTgcnBase/__pycache__/
fastTgcnBase/experiment/
fastTgcnBase/pred_global/
tools/__pycache__/
*.o
*.e
fastTgcnEasy/__pycache__/
fastTgcnEasy/experiment/
fastTgcnEasy/pred_global/
fastTgcnEasy/x_archive/
fastTgcnEasy/modelOutputs/
tools/colorClean/__pycache__/
testDir/
fastTgcnLoss/__pycache__/
fastTgcnLoss/experiment/
fastTgcnLoss/pred_global/
prediction/__pycache__/
prediction/x_archive/
prediction/outputFiles/
